/* GERAL */

body{
    background-color: #F4F3F3;
}
h1, h2, h3, a{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
}

/* MENU */

.header ul{
    display: none;
}
.menu{
    display: block;
}
.menu{
    background-color: #FFFFFF;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
}
.menu div:first-child{
    width: 50%;
    display: flex;
    justify-content: center;
}
.menu div:last-child{
    width: 50%;
}
.menu h1{
    font-weight: 800;
    font-style: black;
}

.menu a{
    color: #ADADAD;
    text-decoration: none;
    font-size: 12px;
    padding: 1rem;
}

.menu a:last-child{
    color: #FEFDFD;
    border-radius: 5px;
    background-color: #009CDE;
}


/* MENU MOBILE */

.toggle-nav { display: none; 
}

.mobile-bar {
  z-index: 5;
  position: relative;
  height: 60px;
  background-color: #202835;
  -webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

.mobile-bar label {
  position: absolute;
  top: 0;
  left: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.mobile-bar label:after {
  content: "\2630";
  font-size: 2em;
  color: #eee;
  line-height: 60px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

/** Slide-Down Effect **/


.toggle-nav:checked ~ .container { /* when the checkbox is checked the container slide-down */
  -webkit-transform: translateY(270px);
  transform: translateY(270px);
  -webkit-transform: translate3d(0, 270px, 0);
  transform: translate3d(0, 270px, 0);
}

/** Label Effect (Menu Icon) **/


.toggle-nav:checked + .mobile-bar label {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.toggle-nav:checked + .mobile-bar label:after { color: white; }

/** Container **/


.container {
  margin-top: -270px;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

/** Header **/


.header { background-color: #F4F3F3; }

.header ul {
  font-size: 1.2em;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.header a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #eee;
  color: black;
  text-decoration: none;
  font-size: 15px;
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
}

.header a:active { background-color: #202835; }

@media (max-width: 991.98px){
    .menu{
        display: none;
    }
    .header ul{
        display: block;
    }
}

/** Viewport >= 730px **/

@media (min-width: 730px) {

.mobile-bar { display: none; 
}

.toggle-nav:checked ~ .container {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.container{
    display: initial;
}
.container {
  margin-top: 0;
  -webkit-transition: none;
  transition: none;
}

.header ul { font-size: 1.1em; }

.header li,  .header a { display: inline-block; }

.header li { margin-right: -6px; /* fix the inline-block margin gap */ }

.header a {
  padding: 10px 45px;
  border-bottom: none;
}

.header a:hover { background-color: #202835; }

.content p { padding-bottom: 10px; }
}

/* BANNER */

.banner{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.banner div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}
.banner h2{
    padding: 2rem;
    padding-bottom: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 55px;
}
.banner a{
    text-decoration: none;
    color: #ffffff;
    background-color: #009CDE;
    border-radius: 10px;
    padding: 1rem;
    text-transform: inherit;
    font-weight: 800;
}
.banner img:last-child{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* BANNER MOBILE */

@media (max-width: 991.98px){
    .banner{
        display: flex;
        background-image: url(../Laguna/banner_moto.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .coluna{
        flex-direction: column;
    }
    .banner a{
        position: inherit;
        text-align: center;
        margin-top: 2rem;
        border-radius: 3px;
        opacity: 1;
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 1rem;
        font-size: 14px;
        padding: 0.5rem;
    }
    .banner img{
        display: none;
    }
    }
    @media (max-width: 768.98px){
        
        .banner h2{
            font-size: 20px;
            color: #ffffff;
        }
        .banner a{
            font-size: 20px;
        }
    }

    @media (max-width: 575.98px){
        .banner h2{
            font-size: 13px;
        }
        .banner a{
            font-size: 11px;
        }
    }

    @media (max-width: 1366.0px){
        .banner h2{
            font-size: 25px;
        }
        .banner a{
            left: 4rem;
        }
    }


/* UTILIDADES */

.utilidades{
    background-color: #202835;
    padding: 0,5rem;
    font-size: 15px;
}
.utilidades div{
    text-align: center;
}
.uti_ordem{
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
}
.utilidades h3{
    font-size: 12px;
    color: #ffffff;
}

/* UTILIDADES MOBILE */

@media (max-width: 991.98px){
    .uti_ordem{
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
        padding: 2rem;
    }
    .utilidades div{
        display: flex;
    }
    .utilidades h3{
        text-align: start;
        margin-left: 1rem;
        font-size: 10px;
    }
    .utilidades img{
        width: 30px;
        height: 30px;
    }
}

/* INFORMAÇÕES */

.levamos{
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
}
.levamos div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.levamos img{
    width: 40%;
    height: 30%;
}
.levamos div img{
    width: 350px;
    height: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.levamos h3,p{
    padding: 0 10rem;
}
.levamos p{
    text-align: left;
}

.viagens{
    display: flex;
}
.viagens div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.viagens div:first-child{
    flex-direction: column;
}
.viagens img:first-child{
    display: none;
}
.viagens img:last-child{
    width: 40%;
    height: 30%;
}
.viagens div img{
    width: 350px;
    height: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.viagens h3,p{
    text-align: center;
    padding: 0 10rem;
}
.viagens p{
    text-align: left;
}


.acompanhamento{
    background-color: #FFFFFF;
    display: flex;
}
.acompanhamento div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.acompanhamento div:first-child{
    flex-direction: column;
}
.acompanhamento img{
    width: 40%;
    height: 30%;
}
.acompanhamento div img{
    width: 350px;
    height: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.acompanhamento h3,p{
    text-align: center;
    padding: 0 10rem;
}
.acompanhamento p{
    text-align: left;
}
.seguranca{
    display: flex;
}
.seguranca div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.seguranca div:first-child{
    flex-direction: column;
}
.seguranca img:first-child{
    display: none;
}
.seguranca img:last-child{
    width: 40%;
    height: 30%;
}
.seguranca div img{
    width: 350px;
    height: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.seguranca h3,p{
    text-align: center;
    padding: 0 10rem;
}
.seguranca p{
    text-align: left;
}
.know{
    background-color: #FFFFFF;
    display: flex;
}
.know div{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.know div:first-child{
    flex-direction: column;
}
.know img{
    width: 40%;
    height: 30%;
}
.know div img{
    width: 350px;
    height: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.know h3,p{
    text-align: center;
    padding: 0 10rem;
}
.know p{
    text-align: left;
}

/* INFORMAÇÕES MOBILE */

@media (max-width: 991.98px){
    .levamos{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .levamos img{
        width: 100%;
    }
    .levamos div{
        width: 100%;
    }
    .levamos h3,p{
        text-align: center;
        padding: 0;
    }
    .levamos p{
        text-align: center;
    }
    .levamos div img{
        width: 150px;
        height: 1px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }


    .viagens{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .viagens img:last-child{
        width: 100%;
        display: none;
    }
    .viagens img:first-child{
        width: 100%;
        display: initial;
    }
    .viagens div{
        width: 100%;
    }
    .viagens h3,p{
        text-align: center;
        padding: 0;
    }
    .viagens p{
        text-align: center;
    }
    .viagens div img{
        width: 150px;
        height: 1px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }


    .acompanhamento{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .acompanhamento img{
        width: 100%;
    }
    .acompanhamento div{
        width: 100%;
    }
    .acompanhamento h3,p{
        text-align: center;
        padding: 0;
    }
    .acompanhamento p{
        text-align: center;
    }
    .acompanhamento div img{
        width: 150px;
        height: 1px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .seguranca{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .seguranca img:last-child{
        width: 100%;
        display: none;
    }
    .seguranca img:first-child{
        width: 100%;
        display: initial;
    }
    .seguranca div{
        width: 100%;
    }
    .seguranca h3,p{
        text-align: center;
        padding: 0;
    }
    .seguranca p{
        text-align: center;
    }
    .seguranca div img{
        width: 150px;
        height: 1px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .know{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .know img{
        width: 100%;
    }
    .know div{
        width: 100%;
    }
    .know h3,p{
        text-align: center;
        padding: 0;
    }
    .know p{
        text-align: center;
    }
    .know div img{
        width: 150px;
        height: 1px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* FOTOS */

.fotos{
    width: 100%;
    margin-bottom: 2rem;  
}
.fotos h2{
    margin-top: 2rem;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 0;
}
.top_fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.top_fotos img{
    height: 1px !important;
    width: 100px !important;
}
.fotos div img{
    width: 20%;
    height: 20%;
    padding: 0.3rem;
}
.container_2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 5rem;;
}







/* ORÇAMENTO */


/* RODAPÉ */